@model IEnumerable<HybridConnectionModel>

@if (Model != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <td>
                    <input type="checkbox" id="selectAll" />
                </td>
                <th>Name</th>
                <th>Connection Status</th>
                <th>Namespace</th>
                <th>Endpoint</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="item-row" style="cursor: pointer;"
                    data-namespace="@item.Namespace"
                    data-name="@item.Name"
                    data-endpoint="@item.Endpoint"
                    data-status="@item.Status"
                    data-created-on="@item.CreatedOn"
                    data-last-updated="@item.LastUpdated">
                    <td onclick="event.stopPropagation()">
                        <input type="checkbox" name="selectedIds"
                               value="@item.Name"
                               data-namespace="@item.Namespace"
                               data-name="@item.Name" />
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Status</td>
                    <td>@item.Namespace</td>
                    <td>@item.Endpoint</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (!Model.Any())
{
    <p>No items found.</p>
}